In [2]:
# Import Dependencies
import pandas as pd

In [3]:
citylist_csv = ("Resources/City_List.csv")
life_expectancy_csv = ("Resources/Life Expectancy_2015.csv")

In [4]:
cili_df = pd.read_csv(citylist_csv)
liex_df = pd.read_csv(life_expectancy_csv)

//anaconda3/envs/PythonData/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
cili_df.head()

  State         City        Metro       FIPS   Pop 2010               County
0    NM  Albuquerque  Albuquerque  3502000.0     545,852   Bernalillo County
1    AK    Anchorage    Anchorage   203000.0     291,826    Anchorage County
2    GA      Atlanta      Atlanta  1304000.0     420,003       Fulton County
3    TX       Austin       Austin  4805000.0     790,390       Travis County
4    CA  Bakersfield  Bakersfield   603526.0     347,483         Kern County

In [6]:
liex_df.head()

,State,County,Census Tract Number,Life Expectancy,Life Expectancy Range,Life Expectancy Standard Error,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255
0,AL,Autauga County,201.0,73.1,56.3 - 75.0,2.2348,=D3+D4,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AL,Autauga County,202.0,76.9,75.1 - 77.4,3.3453,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AL,Autauga County,204.0,75.4,75.1 - 77.4,1.0216,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AL,Autauga County,205.0,79.4,77.5 - 79.4,1.1768,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AL,Autauga County,206.0,73.1,56.3 - 75.0,1.5519,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
li_ex_df = liex_df.iloc[:, [0, 1, 3]]

In [8]:
li_ex_df.head()

  State          County  Life Expectancy
0    AL  Autauga County             73.1
1    AL  Autauga County             76.9
2    AL  Autauga County             75.4
3    AL  Autauga County             79.4
4    AL  Autauga County             73.1

In [9]:
merge_table = pd.merge(cili_df, li_ex_df,  how='left', left_on=['State','County'], right_on = ['State','County'])

In [10]:
merge_table.head(100)

,State,City,Metro,FIPS,Pop 2010,County,Life Expectancy
0,NM,Albuquerque,Albuquerque,3502000.0,"545,852",Bernalillo County,79.7
1,NM,Albuquerque,Albuquerque,3502000.0,"545,852",Bernalillo County,79.7
2,NM,Albuquerque,Albuquerque,3502000.0,"545,852",Bernalillo County,75.2
3,NM,Albuquerque,Albuquerque,3502000.0,"545,852",Bernalillo County,78.8
4,NM,Albuquerque,Albuquerque,3502000.0,"545,852",Bernalillo County,77.6
...,...,...,...,...,...,...,...
95,NM,Albuquerque,Albuquerque,3502000.0,"545,852",Bernalillo County,81.1
96,NM,Albuquerque,Albuquerque,3502000.0,"545,852",Bernalillo County,81.3
97,NM,Albuquerque,Albuquerque,3502000.0,"545,852",Bernalillo County,84.7
98,NM,Albuquerque,Albuquerque,3502000.0,"545,852",Bernalillo County,79.3
99,NM,Albuquerque,Albuquerque,3502000.0,"545,852",Bernalillo County,78.6

In [11]:
average_le = merge_table.groupby('City').mean()
average_le.head(100)

                     FIPS  Life Expectancy
City
Albuquerque     3502000.0        78.536691
Anchorage        203000.0              NaN
Atlanta         1304000.0        77.364815
Austin          4805000.0        79.770879
Bakersfield      603526.0        76.831343
...                   ...              ...
Tulsa           4075000.0        76.073214
Virginia Beach  5182000.0              NaN
Washington      1150000.0              NaN
Wichita         2079000.0        76.977686
Winston-Salem   3775000.0        77.145455

[71 rows x 2 columns]

In [12]:
new_table = pd.merge(merge_table, average_le, on="City", how='inner')
new_table

,State,City,Metro,FIPS_x,Pop 2010,County,Life Expectancy_x,FIPS_y,Life Expectancy_y
0,NM,Albuquerque,Albuquerque,3502000.0,"545,852",Bernalillo County,79.7,3502000.0,78.536691
1,NM,Albuquerque,Albuquerque,3502000.0,"545,852",Bernalillo County,79.7,3502000.0,78.536691
2,NM,Albuquerque,Albuquerque,3502000.0,"545,852",Bernalillo County,75.2,3502000.0,78.536691
3,NM,Albuquerque,Albuquerque,3502000.0,"545,852",Bernalillo County,78.8,3502000.0,78.536691
4,NM,Albuquerque,Albuquerque,3502000.0,"545,852",Bernalillo County,77.6,3502000.0,78.536691
...,...,...,...,...,...,...,...,...,...
17258,NC,Winston-Salem,Winston-Salem,3775000.0,"229,617",Forsyth County,78.7,3775000.0,77.145455
17259,NC,Winston-Salem,Winston-Salem,3775000.0,"229,617",Forsyth County,83.0,3775000.0,77.145455
17260,NC,Winston-Salem,Winston-Salem,3775000.0,"229,617",Forsyth County,80.4,3775000.0,77.145455
17261,NC,Winston-Salem,Winston-Salem,3775000.0,"229,617",Forsyth County,80.7,3775000.0,77.145455
17262,NC,Winston-Salem,Winston-Salem,3775000.0,"229,617",Forsyth County,81.5,3775000.0,77.145455

In [13]:
new_table1 = new_table.drop_duplicates(subset='City', keep='first')
print(new_table1)

      State            City           Metro     FIPS_x   Pop 2010    \
0        NM     Albuquerque     Albuquerque  3502000.0     545,852
139      AK       Anchorage       Anchorage   203000.0     291,826
140      GA         Atlanta         Atlanta  1304000.0     420,003
302      TX          Austin          Austin  4805000.0     790,390
484      CA     Bakersfield     Bakersfield   603526.0     347,483
...     ...             ...             ...        ...          ...
16884    OK           Tulsa           Tulsa  4075000.0     391,906
17052    VA  Virginia Beach  Virginia Beach  5182000.0     437,994
17053    DC      Washington      Washington  1150000.0     601,723
17054    KS         Wichita         Wichita  2079000.0     382,368
17175    NC   Winston-Salem   Winston-Salem  3775000.0     229,617

                     County  Life Expectancy_x     FIPS_y  Life Expectancy_y
0         Bernalillo County               79.7  3502000.0          78.536691
139        Anchorage County                NaN   203000.0                NaN
140           Fulton County               80.2  1304000.0          77.364815
302           Travis County               83.0  4805000.0          79.770879
484             Kern County               75.1   603526.0          76.831343
...                     ...                ...        ...                ...
16884          Tulsa County               71.9  4075000.0          76.073214
17052   Virginia Beach city                NaN  5182000.0                NaN
17053  District of Columbia                NaN  1150000.0                NaN
17054       Sedgwick County               72.8  2079000.0          76.977686
17175        Forsyth County               70.8  3775000.0          77.145455

[71 rows x 9 columns]

In [14]:
new_table1.iloc[:, [0, 1, 5, 4, 3, 6]]
new_table1.rename(columns = {'State_x':'State', 'FIPS_x':'FIPS', 
                              'Life Expectancy_x':'Life Expectancy'}, inplace = True)
new_table1

//anaconda3/envs/PythonData/lib/python3.6/site-packages/pandas/core/frame.py:4223: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)

,State,City,Metro,FIPS,Pop 2010,County,Life Expectancy,FIPS_y,Life Expectancy_y
0,NM,Albuquerque,Albuquerque,3502000.0,"545,852",Bernalillo County,79.7,3502000.0,78.536691
139,AK,Anchorage,Anchorage,203000.0,"291,826",Anchorage County,NaN,203000.0,NaN
140,GA,Atlanta,Atlanta,1304000.0,"420,003",Fulton County,80.2,1304000.0,77.364815
302,TX,Austin,Austin,4805000.0,"790,390",Travis County,83.0,4805000.0,79.770879
484,CA,Bakersfield,Bakersfield,603526.0,"347,483",Kern County,75.1,603526.0,76.831343
...,...,...,...,...,...,...,...,...,...
16884,OK,Tulsa,Tulsa,4075000.0,"391,906",Tulsa County,71.9,4075000.0,76.073214
17052,VA,Virginia Beach,Virginia Beach,5182000.0,"437,994",Virginia Beach city,NaN,5182000.0,NaN
17053,DC,Washington,Washington,1150000.0,"601,723",District of Columbia,NaN,1150000.0,NaN
17054,KS,Wichita,Wichita,2079000.0,"382,368",Sedgwick County,72.8,2079000.0,76.977686
17175,NC,Winston-Salem,Winston-Salem,3775000.0,"229,617",Forsyth County,70.8,3775000.0,77.145455

In [15]:
new_table1.to_excel("Output/City_List_Updated.xlsx", index=False)
new_table1.to_csv("Output/City_List_Updated.csv")